{
  "redis": {
    "url": "redis://redis",
    "queue_name": "ffmpeg-queue",
    "log": true
  },

  "upload": {
    "max_queue_jobs": 1024,
    "max_file_size": 10000,
    "max_files": 1,
  
    "_supported_types_ack": "Many thanks to DusanBrejka - https://gist.github.com/DusanBrejka/35238dccb5cefcc804de1c5a218ee004",
    "supported_types": [
      "video/3gpp",
      "video/3gpp2",
      "video/MP2T",
      "video/mp4",
      "video/mpeg",
      "video/ogg",
      "video/webm",
      "video/x-flv",
      "video/x-h261",
      "video/x-h263",
      "video/x-m4v",
      "video/x-matroska",
      "video/x-ms-asf",
      "video/x-msvideo"
    ]  
  },
  
  "ffmpeg": {
    "process_interval": 1000,
    "log": false,
    "configs": [
      {
        "name": "720p",
        "size": "1280x720",
        "framerate": 60,
        "videoCodec": "mpeg4",
        "audioCodec": "aac",
        "audioChannels": 2,
        "bitrate": "2M"
      },
      {
        "name": "1080p",
        "size": "1920x1080",
        "framerate": 60,
        "videoCodec": "mpeg4",
        "audioCodec": "aac",
        "audioChannels": 2,
        "bitrate": "5M"
      }
    ]
  }
}